.screader {
	@include screader;
}
.screader-focus {
	@include screader-focus;
}
.ellipsis {
	@extend %ellipsis;
}

a {
	color:$purple;
	text-decoration:none;
	&:hover, &:focus {
		color:$purple;
		text-decoration:none;
	}
	&.link {
		@extend %overlay;
	}
}
h1, .h1 {
	margin-bottom:20px;
	font-family:$font;
	font-size:36px;
	font-weight:400;
	line-height:40px;
}
h2, .h2 {
	margin-bottom:20px;
	font-family:$font;
	font-size:30px;
	font-weight:400;
	line-height:35px;
}
h3, .h3 {
	margin-bottom:20px;
	font-family:$font;
	font-size:24px;
	font-weight:400;
	line-height:30px;
}
h4, .h4 {
	margin-bottom:20px;
	font-family:$font;
	font-size:20px;
	font-weight:400;
	line-height:25px;
}
h5, .h5 {
	margin-bottom:20px;
	font-family:$font;
	font-size:18px;
	font-weight:400;
	line-height:25px;
}
h6, .h6 {
	margin-bottom:20px;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	line-height:25px;
}
p, .p {
	margin-bottom:20px;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	line-height:25px;
}
small, .small {
	font-size:14px;
	line-height:20px;
}
strong, b {
	font-weight:700;
}
em, i {
	font-weight:normal;
	font-style:italic;
}
sup {
	font-size:.6em;
	line-height:1;
}
address {
	margin-bottom:20px;
	font-style:normal;
}

.font-weight-100 {
	font-weight:100;
}
.font-weight-200 {
	font-weight:200;
}
.font-weight-300 {
	font-weight:300;
}
.font-weight-400 {
	font-weight:400;
}
.font-weight-500 {
	font-weight:500;
}
.font-weight-600 {
	font-weight:600;
}
.font-weight-700 {
	font-weight:700;
}
.font-weight-800 {
	font-weight:800;
}
.font-weight-900 {
	font-weight:900;
}

@media all and (max-width:$md) {
	h1, .h1 {
		font-size:30px;
		line-height:35px;
	}
	h2, .h2 {
		font-size:24px;
		line-height:30px;
	}
	h3, .h3 {
		font-size:20px;
		line-height:25px;
	}
	h4, .h4 {
		font-size:18px;
		line-height:25px;
	}
	h5, .h5 {
		font-size:16px;
		line-height:20px;
	}
}
