@mixin box-sizing($sizing) {
	-webkit-box-sizing:$sizing;
	-moz-box-sizing:$sizing;
	box-sizing:$sizing;
}
@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	-ms-border-radius:$radius;
	border-radius:$radius;
}
@mixin box-shadow($shadow...) {
	-webkit-box-shadow:$shadow;
	-moz-box-shadow:$shadow;
	-ms-box-shadow:$shadow;
	-o-box-shadow:$shadow;
	box-shadow:$shadow;
}
@mixin placeholder {
	$placeholders:':-webkit-input' ':-moz' '-moz';
	@each $placeholder in $placeholders {
		@if & != null {
			&:#{$placeholder}-placeholder {
				@content;
			}
		} @else {
			:#{$placeholder}-placeholder {
				@content;
			}
		}
	}
}
@mixin selection {
	::-moz-selection {
		@content;
	}
	::selection {
		@content;
	}
}
@mixin user-select-none {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
@mixin text-size-adjust {
	-webkit-text-size-adjust:100%;
	-moz-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	text-size-adjust:100%;
}
@mixin overflow-scrolling {
	-webkit-overflow-scrolling:touch;
}
@mixin font-face($font, $file, $weight:normal, $style:normal) {
	@font-face {
		font-family:$font;
		src:url($file + '.eot');
		src:url($file + '.eot?#iefix') format('embedded-opentype'),
			url($file + '.woff2') format('woff2'),
			url($file + '.woff') format('woff'),
			url($file + '.ttf') format('truetype');
		font-weight:$weight;
		font-style:$style;
	}
}
@mixin screader {
	position:absolute;
	width:1px;
	height:1px;
	padding:0;
	margin:-1px;
	border:0;
	overflow:hidden;
	clip:rect(0,0,0,0);
}
@mixin screader-focus {
	&:active, &:focus {
		position:static;
		width:auto;
		height:auto;
		margin:0;
		overflow:visible;
		clip:auto;
	}
}
