%v-center-before {
	height:100%;
	&:before {
		content:'';
		display:inline-block;
		vertical-align:middle;
		width:1px;
		height:100%;
	}
}
%v-center-after {
	height:100%;
	&:after {
		content:'';
		display:inline-block;
		vertical-align:middle;
		width:1px;
		height:100%;
	}
}
%h-justify-after {
	text-align:justify;
	&:after {
		content:'';
		display:inline-block;
		vertical-align:middle;
		width:100%;
		height:1px;
	}
}
%overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
%ellipsis {
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
%pipeline-before {
	display:inline-flex;
	align-items:flex-start;
	&:before {
		content:'\00a0|\00a0';
		display:inline-flex;
		align-items:flex-start;
	}
	&:first-of-type {
		&:before {
			content:none;
		}
	}
}
