button, .btn {
	height:40px;
	margin:0 0 20px;
	padding:0 20px;
	border:0;
	border-radius:5px;
	background:$purple;
	color:$white;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	line-height:20px;
	text-align:center;
	text-transform:none;
	text-decoration:none;
	&:hover,
	&:focus {
		background:$purple;
		color:$white;
	}
}

.btn {
	position:relative;
	display:inline-flex;
	justify-content:center;
	align-items:center;
	width:280px;
	min-width:140px;
	overflow:visible;
	&.font-weight-900 {
		font-weight:900;
	}
	&-white {
		border:1px solid $black;
		background:$white;
		color:$black;
		&:after {
			background-image:url('');
		}
	}
	&-blue {
		background:$blue;
	}
	&-green {
		background:$green_dark;
	}
	&-red {
		background:$red;
	}
	&-black {
		background:$black;
	}
	&-yellow,
	&:hover,
	&:focus,
	&.active {
		background:$purple_dark;
		color:$white;
	}
	&-width {
		width:100%;
		min-width:none;
	}
	&-auto {
		width:auto;
		min-width:none;
	}
	&-outline {
		border:1px solid $black;
		background:$white;
		color:$black;
		text-transform:uppercase;
	}
}

@media all and (max-width:$sm) {
	.btn {
		width:100%;
	}
}

