.section-notices {
	&-error {
		ul, ol {
			li {
				&:before {
					background:$red;
				}
				a {
					color:$red;
					&:hover, &:focus {
						color:$red;
					}
				}
			}
		}
	}
}

.form-element {
	position:relative;
	margin-bottom:20px;
	font-size:16px;
	font-weight:400;
	line-height:20px;
}

[data-error] {
	position:relative;
	&:after {
		content:attr(data-error);
		display:block;
		margin-top:-10px;
		color:$red;
		font-family:$font;
		font-size:14px;
		font-weight:300;
		text-align:left;
		@extend %ellipsis;
	}
}

label {
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	margin-bottom:10px;
	color:$black;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	line-height:20px;
	cursor:pointer;
}

input {
	display:block;
	width:100%;
	height:40px;
	margin:0 0 20px;
	padding:0 15px;
	border:1px solid $grey_light;
	border-radius:10px;
	background:transparent;
	color:$grey_dark;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	opacity:1;
	@include placeholder {
		color:$grey_light;
		opacity:1;
	}
	&:hover, &:focus {
		border-color:$purple;
	}
	&:disabled {
		opacity:.5;
	}
	label & {
		margin:10px 0;
	}
	&[type='submit'], &[type='button'] {
		width:auto;
		border:0;
		background:$purple;
		color:$white;
		cursor:pointer;
		&:hover,
		&:focus {
			background:$black;
		}
	}
	&[type='radio'], &[type='checkbox'] {
		@include screader;
		+ label, + span {
			display:flex;
			flex-wrap:nowrap;
			align-items:center;
			margin-bottom:20px;
			user-select:none;
			&:before {
				content:'';
				flex:0 0 auto;
				align-self:flex-start;
				width:18px;
				height:18px;
				margin-right:10px;
				border:1px solid $grey_light;
				border-radius:3px;
			}
			&:hover, &:focus {
				&:before {
					border-color:$purple;
				}
			}
		}
		+ span {
			margin-bottom:0;
		}
		&:checked {
			+ label, + span {
				&:before {
					border-color:$purple;
					background:$purple url('../images/icon-checkbox.svg') center / 12px no-repeat;
					background-clip:content-box;
				}
			}
		}
	}
	&[type='radio'] {
		+ label, + span {
			&:before {
				padding:1px;
				border-radius:50%;
			}
		}
		&:checked {
			+ label, + span {
				&:before {
					background-position:left 3px center;
				}
			}
		}
	}
	&[type='range'],
	&[type='file'] {
		display:none;
	}
}

select {
	display:block;
	width:100%;
	height:40px;
	margin:0 0 20px;
	padding:0 15px;
	padding-right:40px;
	border:1px solid $grey_light;
	border-radius:10px;
	background:transparent url('../images/icon-dropdown.svg') right 5px center no-repeat;
	background-size:30px auto;
	color:$grey_dark;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	@extend %ellipsis;
	&:hover, &:focus {
		border-color:$purple;
	}
}

textarea {
	display:block;
	width:100%;
	height:160px;
	margin:0 0 20px;
	padding:15px;
	border:1px solid $grey_light;
	border-radius:10px;
	background:transparent;
	color:$grey_dark;
	font-family:$font;
	font-size:16px;
	font-weight:400;
	&:hover, &:focus {
		border-color:$purple;
	}
	@include placeholder {
		color:$grey_light;
		opacity:1;
	}
	label & {
		margin:10px 0;
	}
}

.quantity,
.cart-item-product-quantity {
	position:relative;
	display:inline-flex;
	flex-direction:column;
	justify-content:center;
	align-items:stretch;
	flex:0 0 auto;
	width:40px;
	height:60px;
	margin:0;
	input {
		flex:0 0 auto;
		width:100%;
		height:20px;
		margin:0;
		padding:0;
		border:0;
		font-weight:900;
		text-align:center;
	}
	.btn {
		&-increase, &-decrease {
			display:flex;
			justify-content:center;
			align-items:center;
			flex:0 0 auto;
			width:100%;
			height:20px;
			margin:0;
			padding:0;
			border:0;
			border-radius:0;
			background:none;
			&:hover, &:focus {
				background:none;
			}
			&:after {
				content:'';
				width:10px;
				height:20px;
				background:url('../images/icon-arrows.svg') left center / 20px no-repeat;
				transform:rotate(90deg);
			}
		}
		&-decrease {
			&:after {
				background-position:right center;
			}
		}
	}
	+ .btn {
		margin-left:10px;
	}
}

.strength {
	display:flex;
	align-items:center;
	border-radius:10px;
	background:$black;
	z-index:1;
	label {
		justify-content:center;
		flex:1;
		margin:0;
	}
	input {
		&[type='radio'], &[type='checkbox'] {
			+ label, + span {
				justify-content:center;
				flex:1;
				margin:0;
				padding:10px 0;
				border-radius:10px;
				color:$white;
				text-align:center;
				&:before {
					content:none;
				}
				span {
					display:none;
				}
			}
			&:checked {
				+ label, + span {
					background:$purple;
					color:$black;
				}
			}
		}
	}
}

.form-order {
	display:flex;
	align-items:center;
	margin-bottom:40px;
}

.subscribe {
	.form-element {
		margin:0;
	}
	input {
		margin:0;
		padding:0 15px;
		border:0;
		background:$grey_light;
		color:$black;
		@include placeholder {
			color:$grey;
			opacity:1;
		}
	}
	button {
		margin:0;
		background:$purple;
		color:$black;
	}
	[data-error] {
		&:after {
			position:absolute;
			bottom:-20px;
		}
	}
}

@media all and (min-width:($xs + 1)) {
	.billing-address,
	.shipping-address {
		flex-flow:row wrap;
		align-items:flex-start;
		margin-right:-10px;
		margin-left:-10px;
		.form-element {
			flex-basis:calc(50% - 20px);
			margin-right:10px;
			margin-left:10px;
			&[data-priority='-1'] {
				flex-basis:100%;
			}
		}
	}
	.billing-address {
		display:flex;
	}
	.shipping-address {
		display:none;
		&.active {
			display:flex;
		}
	}
}

@media all and (max-width:$md) {
	.subscribe {
		.form-element {
			margin:20px 0 0;
		}
		button {
			margin:20px 0 0;
		}
	}
}

@media all and (max-width:$xs) {
	.shipping-address {
		display:none;
		&.active {
			display:block;
		}
	}
}
