.header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	min-width:320px;
	padding:5px 0;
	background:$white;
	z-index:$index_max;
	&.active {
		.menu {
			&-list {
				transform:translateX(0);
				@include overflow-scrolling;
			}
		}
	}
	.site-notification ~ & {
		position:absolute;
		margin-top:50px;
		.mask &,
		&.header-sticky {
			position:fixed;
			margin-top:0;
		}
	}
}

.logo {
	flex:0 0 auto;
	width:122px;
	height:44px;
	background: center / contain no-repeat;
}

.menu {
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex:1;
	margin:auto;
	+ .menu {
		flex:0 0 auto;
		margin:0;
	}
	&-user {
		position:fixed;
		right:0;
		bottom:0;
		display:flex;
		justify-content:center;
		align-items:center;
		width:100%;
		min-width:320px;
		max-width:25vw;
		height:calc(100% - 70px);
		background:$white;
		transform:translateX(100%);
		transition:transform .2s;
		overflow:auto;
		&.active {
			transform:translateX(0);
			@include overflow-scrolling;
		}
		&-list {
			display:flex;
			flex-direction:column;
			align-items:center;
			margin:auto;
			&-item {
				margin:0;
				padding:0;
				&:before {
					content:none;
				}
				&-link {
					display:block;
					padding:20px;
					color:$grey;
					font-size:18px;
					font-weight:400;
					line-height:20px;
					text-align:center;
					&:before {
						content:attr(title);
						display:block;
						height:0;
						color:$yellow;
						font-weight:900;
						overflow:hidden;
						visibility:hidden;
						user-select:none;
						pointer-events:none;
					}
					&:hover, &:focus {
						color:$black;
						font-weight:400;
						&:before {
							overflow:visible;
							visibility:visible;
						}
					}
				}
			}
		}
	}
	&-link {
		position:relative;
		flex:0 0 auto;
		height:auto;
		margin:0;
		padding:0;
		background:transparent;
		color:$grey;
		font-size:10px;
		font-weight:500;
		line-height:20px;
		letter-spacing:1px;
		text-align:center;
		text-transform:lowercase;
		&:hover, &:focus {
			background:transparent;
			color:$yellow;
		}
		&:before {
			content:'';
			display:block;
			width:40px;
			height:40px;
			margin:0 auto;
			background-repeat:no-repeat;
			background-size:40px auto;
		}
	}
	&-list {
		display:flex;
		justify-content:space-around;
		align-items:center;
		flex:1;
		margin:auto;
		padding:0 5px;
		&-item {
			margin:0;
			padding:0;
			&:before {
				content:none;
			}
			&-link {
				display:block;
				padding:10px 5px;
				color:$grey;
				font-size:14px;
				font-weight:400;
				line-height:20px;
				text-align:center;
				&:before {
					content:attr(title);
					display:block;
					height:0;
					color:$yellow;
					font-size:13px;
					font-weight:900;
					overflow:hidden;
					visibility:hidden;
					user-select:none;
					pointer-events:none;
				}
				&:hover, &:focus {
					color:$black;
					font-weight:400;
					&:before {
						overflow:visible;
						visibility:visible;
					}
				}
			}
		}
	}
	&-search {
		position:absolute;
		width:100%;
		padding:20px 0 0;
		box-shadow:0 3px 3px -3px $black;
		background:$white;
		transform:rotateX(90deg);
		transform-origin:top center;
		transition:transform .2s;
		z-index:-1;
		&.active {
			transform:rotateX(0deg);
		}
	}
}

.submenu-list {
	display:none;
	flex-direction:column;
	align-items:stretch;
	margin:0 auto 10px;
	&-item {
		margin:0;
		padding:0;
		&:before {
			content:none;
		}
		&-link {
			display:block;
			padding:10px 20px;
			color:$grey;
			font-size:16px;
			font-weight:400;
			line-height:20px;
			text-align:left;
			&:before {
				content:attr(title);
				display:block;
				height:0;
				color:$yellow;
				font-weight:900;
				overflow:hidden;
				visibility:hidden;
				user-select:none;
				pointer-events:none;
			}
			&:hover, &:focus {
				color:$black;
				font-weight:400;
				&:before {
					overflow:visible;
					visibility:visible;
				}
			}
		}
	}
}

@media all and (max-width:$md) {
	.logo {
		width:85px;
		height:30px;
		margin:auto;
	}
	.menu {
		flex:0 0 auto;
		margin:0;
		&-user {
			height:calc(100% - 50px);
			&-list {
				align-items:flex-end;
				flex:1;
				margin:0 0 auto;
				padding:20px;
				&-item {
					&-link {
						text-align:right;
					}
				}
			}
		}
		&-link {
			font-size:0;
			line-height:0;
			&:before {
				margin:auto;
			}
		}
		&-list {
			position:fixed;
			bottom:0;
			left:0;
			flex-direction:column;
			justify-content:flex-start;
			align-items:stretch;
			width:100%;
			min-width:320px;
			max-width:25vw;
			height:calc(100% - 50px);
			padding:20px;
			background:$white;
			transform:translateX(-100%);
			transition:transform .2s;
			overflow:auto;
			z-index:$index_max;
			&-item {
				display:flex;
				flex-direction:column-reverse;
				&-link {
					padding:20px;
					font-size:18px;
					text-align:left;
					&:before {
						font-size:17px;
					}
					&-search {
						margin-bottom:-10px;
						padding:10px 5px 0;
					}
				}
			}
		}
	}
	.submenu-list {
		&.active {
			display:flex;
			~ .menu-list-item-link {
				&:after {
					background-position:left center;
				}
			}
		}
		~ .menu-list-item-link {
			align-self:flex-start;
			&:after {
				content:'';
				position:absolute;
				top:20px;
				right:0;
				width:10px;
				height:20px;
				background:url('../../images/icon-arrows.svg') right center / 20px no-repeat;
				transform:rotate(90deg);
				pointer-events:none;
			}
		}
	}
}

@media all and (max-width:$sm) {
	.header {
		padding:10px 0;
	}
	.menu {
		&-link {
			&:before {
				width:30px;
				height:30px;
				background-size:30px auto;
			}
		}
	}
}
