.header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	min-width:320px;
	padding:5px 0;
	background:$white;
	z-index:$index_max;
}

.menu {
	display:flex;
	justify-content:space-between;
	align-items:center;
	flex:1;
	margin:auto;
	+ .menu {
		flex:0 0 auto;
		margin:0;
	}
}

@media all and (max-width:$md) {
	.menu {
		flex:0 0 auto;
		margin:0;
	}
}

@media all and (max-width:$sm) {
	.header {
		padding:10px 0;
	}
}
