.pagination {
	display:flex;
	justify-content:center;
	align-items:center;
	margin:40px 0 60px;
	.page {
		margin:0 10px;
		color:$grey;
		font-size:16px;
		font-weight:400;
		line-height:30px;
		&:hover, &:focus {
			color:$yellow;
		}
		&.current {
			color:$blue;
			pointer-events:none;
		}
		&.next, &.prev {
			color:$grey_light;
			&:hover, &:focus {
				color:$yellow;
			}
		}
	}
}
