.slider-section {
	width: 100%;
	background-color: #f7f7f7;
	.slider-container {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin: auto;
		overflow: hidden;
	}

	.slider {
		display: flex;
		width: 100%;
		transition: transform 0.5s ease-in-out;
	}

	.slide {
		position: relative;
		width: auto;
		min-height: 200px;
		flex: 0 0 100%;
	}


	.slide img {
		width: auto;
		height: 100%;
		object-fit: cover;
	}


	.prev, .next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background-color:$purple_light_opacity_7;
		color:$white;
		border: none;
		font-size: 2em;
		padding: 10px;
		cursor: pointer;
		z-index: 10;
	}

	.prev {
		left: 10px;
		&:hover {
			background-color:$purple_opacity_5;
		}
	}

	.next {
		right: 10px;
		&:hover {
			background-color:$purple_opacity_5;
		}
	}

	button:disabled {
		background-color:$purple_dark;
		cursor: not-allowed;
	}
}
