
.slider-section {
  width: 100%;
  background-color: #f7f7f7;
	.slider-container {
	position: relative;
	width: 100%;
	max-width: 100%;
	margin: auto;
	overflow: hidden;
	}


	.slider {
	display: flex;
	transition: transform 0.5s ease-in-out;
	width: 100%;
	}


	.slide {
		position: relative;
	width: 100%;
	flex: 0 0 100%;
	}


	.slide img {
	width: 100%;
	height: auto;
	}


	.prev, .next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color:$purple_light_opacity_7;
	color:$white;
	border: none;
	font-size: 2em;
	padding: 10px;
	cursor: pointer;
	z-index: 10;
	}

	.prev {
	left: 10px;
	}

	.next {
	right: 10px;
	}

	.prev:hover, .next:hover {
	background-color:$purple_opacity_5;
	}
	button:disabled {
	background-color:$purple_dark;
	cursor: not-allowed;
	}
}
